<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redis.demo.test2.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.redis.demo.test2.entity.Product">
    <!--@mbg.generated-->
    <!--@Table product-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, product_id, product_name
  </sql>

  <select id="getProduct" resultMap="BaseResultMap">
    select
      *
    from
    product
      where
    id = #{id}
  </select>

  <update id="update">
  </update>

  <select id="set" resultMap="BaseResultMap">
  </select>
</mapper>